/* Reset e configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(120deg, #ff0000, #ffff00);
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
}

form h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    font-weight: bold;
}

form label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: bold;
}

form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #555;
}

.info {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.info a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.info a:hover {
    color: #929191;
}