.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.nav {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: #000;
    /* Adiciona um fundo preto para contraste */
}

.nav-item {
    margin-right: 20px;
    /* Espaçamento entre os itens */
}

.nav-item.sair {
    margin-left: auto;
    /* Move o item 'sair' para o final da linha */
}

.nav-link {
    text-align: center;
    color: #8f8c04;
    text-decoration: none;
    display: block;
}


a {
    /*font :)*/
    font-family: 'Courier New', Courier, monospace;
    color: #8f8c04;
    /* Cor do texto */
}

.app__video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Define a altura do vídeo como a altura total da tela */
    overflow: hidden;
}

.app__video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    /* Garante que o vídeo cubra toda a largura */
    min-height: 100%;
    /* Garante que o vídeo cubra toda a altura */
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    /* Coloca o vídeo atrás do conteúdo */
}

.app__conteudo {
    position: relative;
    z-index: 1;
    /* Garante que o conteúdo fique na frente do vídeo */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    margin-top: -240px;
}

.botao {
    background-color: blue;
    color: #ffffff;
}

.sql_mostra {
    margin: auto;
}

.app__registro {
    margin: auto;
    background-color: rgba(255, 255, 0, 0.5);
    color: black;
}

.botao_transparente {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Deixa a imagem ajustada no botão */
.botao_transparente img {
    display: block;
    height: auto;
}


.app__conteudo h1,
.app__conteudo p {
    margin-bottom: 20px;
    font-size: 1.5em;
    max-width: 800px;
}


.reserva-form {
    background-color: rgba(0, 0, 0, 0.7);
    /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botao {
    background-color: #b0df64;
    color: black;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #409c0a;
}